<div class="min-h-screen bg-base-300 m-0 h-screen">
    <div class="p-10 text-center bg-base-300">
        <div class="text-2xl md:text-7xl font-bold">Experience Section </div>
        <!-- <div class="divider text-green-600 font-bold">Timeline</div> -->
        <div class="w-full h-full rounded-3xl text-center">
            <div class="block md:flex md:flex-row md:gap-5 ">
                <div class="sm:bg-base-300 sm:basis-1/2 text-left sm:p-5 rounded-3xl">
                    <div class="divider text-green-600 font-bold">Professional Summary</div>
                    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-gray-900 rounded-box">
                        <input type="checkbox" checked />
                        <div class="collapse-title font-medium">
                            <div class="inline-flex gap-2">
                                <div class="avatar">
                                    <div class="w-24 rounded">
                                        <img src="assets/infosys.jpg" />
                                    </div>
                                </div>
                                <div class="text-left align-middle">
                                    <p class="md:text-xl">Infosys Inc.</p>
                                    <p class="sm:visible invisible">Bengaluru, Karnataka</p>
                                </div>
                            </div>
                        </div>
                        <div class="collapse-content">
                            <div class="divider">Information</div>
                            <ul class="steps steps-vertical w-full">
                                <li data-content="●" class="step step-success">
                                    <div class="text-left border-base-300 my-4">
                                        <h1 class="font-extrabold">Senior System Engineer</h1>
                                        <p>Jul 2022 - Present</p>
                                        <p>Skills:</p>
                                    </div>
                                </li>
                                <!-- <div class="divider"></div> -->
                                <li data-content="●" class="step step-success">
                                    <div class="text-left border-base-300 my-4">
                                        <h1 class="font-extrabold">System Engineer</h1>
                                        <p>Apr 2021 - Jun 2022</p>
                                        <p>Skills:</p>
                                    </div>
                                </li>
                                <li data-content="🔝" class="step step-success">
                                    <div class="text-left border-base-300 my-4">
                                        <h1 class="font-extrabold">System Engineer Trainee</h1>
                                        <p>Nov 2020 - Apr 2021</p>
                                        <p>Skills:</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="md:bg-base-300 sm:basis-1/2 text-left sm:p-5 rounded-3xl">
                    <div class="divider text-green-600 font-bold">Educational Summary</div>
                    <div class="p-4" *ngFor="let education of educationInfo">
                        <div class="py-5">
                            <div class="text-2xl font-extrabold">📑 {{education.educationType}}</div>
                            <div class="px-4">
                                <div>🏫 {{education.institutionName}}</div>
                                <div class="text-justify w-full">🎖️ {{education.extraInfo}} <div class="text-right">📅 {{getEducationTimeLineAsString(education)}}</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>