<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row text-center">
    <div class="indicator">
      <span class="indicator-item indicator-bottom hover:animate-pulse">
        <img src="assets/ClassAvGold.png" alt="">
      </span>
      <img src="assets/tempPhoto.jpg" class="max-w-fit rounded-lg" />
    </div>
    <div class="max-w-lg">
      <div class="bg-base-200 grid w-full flex-grow gap-3 rounded-xl rounded-tl-none p-6">
        <div class="flex items-center space-x-2 custom-mockup-code">
          <div class="avatar">
            <div class="mask mask-hexagon bg-base-content h-16 w-16 bg-opacity-10 p-px">
              <img src="assets/Angra.webp" class="mask mask-hexagon">
            </div>
          </div>
          <div class="text-left">
            <div class="text-lg font-extrabold">Shounak Bhalerao</div>
            <div class="text-base-content/70 text-sm font-thin">Human - Developer - System Engineer@Infosys</div>
            <div class="text-base-content/70 text-sm font-thin">
              Experience:
              <span class="font-extrabold text-warning">
                {{ calculateExperienceInYears() }} Year {{calculateExperience()%12}} Months
              </span>
              <div class="stat-desc">({{getStartDateInLocaleDateFormat()}} - {{getCurrentDateInLocaleDateFormat()}})</div>
            </div>
          </div>
        </div>
        <div class="divider text-base-content/60 m-0">Attribute Sheet</div>
        <div class="flex items-center p-1">
          <span class="text-base-content/70 w-48 text-xs">Strength</span>
          <progress value="80" max="100" class="progress progress-error"></progress>
        </div>
        <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Agility</span>
          <progress value="70" max="100" class="progress progress-success"></progress>
        </div>
        <div class="flex items-center p-1">
          <span class="text-base-content/70 w-48 text-xs">Intelligence</span>
          <progress value="60" max="100" class="progress progress-info"></progress>
        </div>
        <div class="flex items-center p-1">
          <span class="text-base-content/70 w-48 text-xs">Luck</span>
          <progress value="90" max="100" class="progress progress-warning"></progress>
        </div>
        <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Charisma</span>
          <progress max="100" value="100" class="progress progress-accent"></progress>
        </div>
        <div class="divider">Description</div>
        <div class="text-justify">
          <span class="highlight backdrop-invert">Computer Science Graduate</span> with a passion to learn new
          technologies. Currently a <span class="highlight backdrop-invert">Systems Engineer @Infosys</span> on a
          [Confidential] project.
          Having completed my training in the JAVA-Angular stream with 92% Avg. <span
            class="highlight backdrop-invert">Microservices using Spring Boot Framework</span>
          is my Forte.
          <br><br>
          Check my Hobbies section for more info about me or goto Experience/Skill Section for Project and Technical
          stuff.
          <br><br>
          Waiting to meet you in real life...
        </div>
      </div>
    </div>
  </div>
</div>