<div class="sm:hero min-h-screen sm:bg-base-200">
  <div class="sm:hero-content flex-col lg:flex-row text-center">
    <div class="indicator">
      <span class="indicator-item indicator-bottom hover:animate-pulse sm:block hidden">
        <img src="assets/ClassAvGold.png" alt="">
      </span>
      <img src="assets/tempPhoto.jpg" class="max-w-fit rounded-lg md:block hidden" />
    </div>
    <div class="sm:max-w-lg">
      <div class="sm:bg-base-200 grid w-full flex-grow gap-3 rounded-xl rounded-tl-none p-6">
        <div class="flex items-center space-x-2 custom-mockup-code">
          <div class="avatar  sm:block hidden">
            <div class="mask mask-hexagon bg-base-content h-16 w-16 bg-opacity-10 p-px">
              <img src="assets/Angra.webp" class="mask mask-hexagon">
            </div>
          </div>
          <div class="text-left">
            <div class="text-lg font-extrabold">Shounak Bhalerao</div>
            <div class="text-base-content/70 text-sm font-thin">Human - Developer - System Engineer@Infosys</div>
            <div class="text-base-content/70 text-sm font-thin">
              Experience:
              <!-- Refactor this method calls -->
              <span class="font-extrabold text-warning">
                {{ calculateExperienceInYears() }} Year {{calculateExperience()%12}} Months
              </span>
              <div class="stat-desc">
                ({{getStartDateInLocaleDateFormat()}} - {{getCurrentDateInLocaleDateFormat()}})
              </div>
            </div>
          </div>
        </div>
        <div class="divider text-base-content/60 m-0 sm:block hidden">Attribute Sheet</div>
        <div class="sm:block hidden">
          <!-- TODO: Use Grid To Implement this -->
          <div class="flex items-center p-1">
            <span class="text-base-content/70 w-48 text-xs">Strength</span>
            <progress value="80" max="100" class="progress progress-error"></progress>
          </div>
          <div class="flex items-center p-1"><span class="text-base-content/70 w-48 text-xs">Agility</span>
            <progress value="70" max="100" class="progress progress-success"></progress>
          </div>
          <div class="flex items-center p-1">
            <span class="text-base-content/70 w-48 text-xs">Intelligence</span>
            <progress value="60" max="100" class="progress progress-info"></progress>
          </div>
          <div class="flex items-center p-1">
            <span class="text-base-content/70 w-48 text-xs">Luck</span>
            <progress value="90" max="100" class="progress progress-warning"></progress>
          </div>
          <div class="flex items-center p-1">
            <span class="text-base-content/70 w-48 text-xs">Charisma</span>
            <progress max="100" value="100" class="progress progress-accent"></progress>
          </div>
        </div>
        <div class="divider">Description</div>
        <div class="text-justify">
          <span
            class="sm:backdrop-invert sm:font-normal sm:text-white text-warning font-bold underline decoration-dashed underline-offset-4 decoration-2 decoration-sky-500/60">Computer
            Science
            Graduate</span> with a passion to learn new
          technologies. Currently a <span
            class="sm:backdrop-invert sm:font-normal sm:text-white text-warning font-bold underline decoration-dashed underline-offset-4 decoration-2 decoration-sky-500/60">Systems
            Engineer @ Infosys</span>
          on a [Confidential] project. Having completed my training in the JAVA-Angular stream with 92% Avg.
          <span
            class="sm:backdrop-invert sm:font-normal sm:text-white text-warning font-bold underline decoration-dashed underline-offset-4 decoration-2 decoration-sky-500/60">Microservices
            using Spring Boot Framework</span>
          is my Forte.
          <br><br>
          <span class="sm:block hidden">
            Check my Hobbies section for more info about me or goto Experience/Skill Section for Project and Technical
            stuff.
            <br><br>
            Waiting to meet you in real life...
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="absolute bottom-10 right-10 group flex flex-col gap-4">
  <div tabindex="0" class="relative border-gray-800 rounded-md ring font-mono font-bold hidden group-hover:block px-4 bg-black">
    <p class="w-auto">Command Line</p>
    <p class="transform delay-750  ">> Initializing Website Script........</p>
    <p>> Progress:------------------ <span class="text-success">Success!</span></p>
    <br>
    <p><span class="text-emerald-500">root@qubes-os</span>:<span class="text-sky-500">~</span>$ ./website-helper</p>
    <p>Hi <span class="text-error">[USER]</span>,</p>
    <p>Welcome to this site! Here are the collections of quick links:</p>
    <div class="p-4 gap-10 flex grid-flow-row flex-wrap">
      <div class="hover:bg-yellow-500 hover:text-black hover:rounded-sm pr-1"><a href="assets/Shounak_Bhalerao_Resume.pdf" target="_blank">📋<span class="underline">Resume</span> </a></div>
      <div class="hover:bg-yellow-500 hover:text-black hover:rounded-sm pr-1"><a href="mailto:shounakbhalerao777@gmail.com" target="_blank">📧<span class="underline">Email</span> </a></div>
      <div class="hover:bg-yellow-500 hover:text-black hover:rounded-sm pr-1"><a href="https://www.linkedin.com/in/shounak-bhalerao/" target="_blank">🕸️<span class="underline">LinkedIn</span> </a></div>
      <div class="hover:bg-yellow-500 hover:text-black hover:rounded-sm pr-1"><a href="https://github.com/Shounaks" target="_blank">🧑‍💻<span class="underline">Github</span> </a></div>
      <div class="hover:bg-yellow-500 hover:text-black hover:rounded-sm pr-1"><a href="https://www.smartr.me/me/shounak.bhalerao" target="_blank">🧠<span class="underline">Smar.tr</span> </a></div>
      <div></div>
    </div>
  </div>
  <div class="relative btn btn-circle border-4 border-x-white hover:transform hover:border-sky-500 hover:border-2 hover:text-lg hover:scale-125 self-end"> 🤖 </div>
</div>