<div class="min-h-screen m-0 h-screen bg-base-200">
    <div class="p-10 bg-base-200">
        <div class="divider text-center sm:text-lg md:text-7xl md:my-10 font-bold uppercase">
            Skill Sheet
        </div>
        <div class="w-full h-full">
            <div class="">
                <div class="block md:flex md:flex-row md:gap-5 ">
                    <div class="md:bg-base-300 sm:basis-1/2 text-left sm:p-5 rounded-3xl">
                        <div class="mb-7 text-xs md:text-base" *ngFor="let skillset of skillsets">
                            <h1 class="text-xl sm:text-lg font-bold text-green-600 md:divider mb-5">
                                {{skillset.name}}
                            </h1>
                            <span>{{skillset.description}}</span>
                            <br>
                            <div class="inline-flex mx-5 gap-2 my-1 " *ngFor="let item of skillset.skills">
                                <div class="hidden md:block md:dropdown dropdown-hover">
                                    <div tabindex="0" class="m-1 gap-2">
                                        <fa-icon class="mx-2" [icon]="item.fontAwesomeIcon"></fa-icon>
                                        <span>{{item.name}}</span>
                                    </div>
                                    <div tabindex="0" class="dropdown-content border-0 card card-compact md:w-64 md:p-2 shadow image-full md:text-primary-content sm:backdrop-opacity-95">
                                        <figure><img class="md:block hidden rounded-3xl" [src]="item.backgroundImage" /></figure>
                                        <div class="md:card-body">
                                            <h3 class="card-title">{{item.name}}</h3>
                                            <p *ngIf="item.skillInfo">{{item.skillInfo}}</p>
                                            <div class="divider pb-0 mb-0"></div>
                                            <div class="rating gap-2 flex justify-around card-actions w-full hover:scale-110 transition-all ease-linear" aria-disabled="true">
                                                <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-500 pointer-events-none" *ngFor="let stars of getNumberOfStars(item.Profeciency)" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block md:hidden border-0 card-compact">
                                    <figure><img class="md:block hidden rounded-3xl" [src]="item.backgroundImage" /></figure>
                                    <div class="md:card-body">
                                        <h3 class="sm:card-title text-yellow-600">{{item.name}}</h3>
                                        <p class="sm:p-0 p-2" *ngIf="item.skillInfo">{{item.skillInfo}}</p>
                                        <span class="visible sm:hidden text-green-500 p-2">Ratings: {{item.Profeciency}} / 5</span>
                                        <div class="divider pb-0 mb-0"></div>
                                        <div class="hidden sm:flex rating gap-2 justify-center w-full hover:scale-110 transition-all ease-linear">
                                            <input type="radio" name="rating-4" class="mask mask-star-2 bg-green-500 pointer-events-none" *ngFor="let stars of getNumberOfStars(item.Profeciency)" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-base-300 sm:basis-1/2 text-left p-5 rounded-3xl">[More Content Coming Soon!!]</div>
                </div>
            </div>
        </div>
    </div>
</div>